{
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:react-hooks/recommended"
    ],
    "plugins": [
      "react",
      "react-hooks"
    ],
    "rules": {
      "react-hooks/rules-of-hooks": "error", // Hooksのルールを違反した場合はエラーとする
      "react-hooks/exhaustive-deps": "warn" // effectの依存配列に関する警告を出す
    },
    "parserOptions": {
      "ecmaVersion": 2020,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "settings": {
      "react": {
        "version": "detect" // Reactのバージョンを自動検出
      }
    }
  }
  