.App {
  background-color: #F9F9F9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: cornsilk;
  width: 100%;
}

.App-body {
  width: 100%;
  /* height: 100vh; */
  background-color: #F9F9F9;
}

.App-footer {
  background-color: cornsilk;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list {
  color: salmon;
}

.user-detail {
  display: flex;
  justify-content: space-around;
}

.memo-area{
  display: flex;
  flex-flow: column;
}

.memo-contents{
  display: flex;
  justify-content: space-around;
  gap: 12px;
}

.memo{
  min-height: 200px;
  min-width: 200px;
  padding: 12px;
  background-color: lemonchiffon;
}


/* Header */

header {
  background-color: #009688;
  color: #fff
}


.header-inner {
  padding: 16px;
}

.header-ul {
  display: flex;
  gap: 24px;
  font-size: 22px;
  font-weight: bold;
  align-items: center;
}

/* Footer */

footer {
  background-color: #009688;
  color: #fff;
  text-align: center;
  padding: 16px;
}


/* Form */

.sing-up, .login, .setting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 32px;
}

.form-wrap{
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.form-title {
  font-size: 24px;
  font-weight: bold;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-section + .form-section {
  margin-top: 20px;
}

.form-label {
  font-size: 18px;
  font-weight: bold;
}

.form-input {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-textarea {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  resize: none;
}

.form-submit {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #009688;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

.forget-password {
  text-align: center;
  font-weight: bold;
}

.forget-password a {
  color: #009688;
}

.forget-password a:hover {
  text-decoration: underline;
}

/* setting */

.setting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 32px;
}

.section {
  display: flex;
  gap: 12px;
  align-items: center;
}

.setting,.section {
font-size: 16px;
}

.section + .section {
  margin-top: 20px;
}

.head {
  font-size: 24px;
  font-weight: bold;
}

.body {
  display: flex;
  gap: 12px;
}

.icon {
  font-size: 24px;
  width: 120px;
  height: 120px;
}

/* memo */

.memo-wrap{
  padding: 32px;
}

.memo-layout {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

/* modfire */

.buttin-wrap {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.harf {
  width: 50%;
}